@model IEnumerable<WebApplication1.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<h2 class="heading">All Roles</h2>
<div class="card">
    <div class="container">
<p>
    <a type="button" class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RoleType)
            </th>
            <th scope="col">
            </th>
            <th scope="col">
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleType)
            </td>
            <td>
                <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
            </td>
            <td>
                <a type="button" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.RoleId">Details</a>
            </td>
            <td>
                <a type="button" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>
</div>