@model WebApplication1.Models.Member
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details";
}

<h2 class="heading">Details</h2>
@if (Context.Session.GetString("RoleId") == "3")
{
<div class="card">
    <div class="container">
        <h4>Member</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nickname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nickname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Dob)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dob)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Biography)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Biography)
            </dd>
        </dl>
    </div>
    <div class="container">
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Return Home</a>
        @*<a asp-controller="Members" asp-action="Delete" asp-route-id="@Context.Session.GetString("MemberId")">Delete</a>*@
    </div>
</div>




}
else if (Context.Session.GetString("RoleId") == "2")
{

<div class="card">
    <div class="container">
        <h4>Member</h4>
        <hr />


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nickname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nickname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Dob)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dob)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Biography)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Biography)
            </dd>
        </dl>
    </div>

    <div class="container">
        <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.MemberId">Edit Bio</a> 
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Return Home</a>
        @*<a asp-controller="Members" asp-action="Delete" asp-route-id="@Context.Session.GetString("MemberId")">Delete</a>*@
    </div>
</div>

    }
    else
    {

<div class="card">
    <h4>Member</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>
    </dl>

    <div class="container">
        <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> 
        <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
    }

